
.btn {
    width: 12rem;
    height: 3rem;
    vertical-align: top;
    padding: .7em 2.1em;
    border-radius: 3em;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    color: $white;
    background: $secondary;
    border: navajowhite;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    transition:background-color .2s linear;
    &:hover {
        text-decoration: none;
    }

    &--red {
        background-color: $red;
        box-shadow: 0 7px 17px -10px rgba($red, $alpha: .3) ;
        &:hover {
            background-color: darken($red, 15%);
        }
    }

    &--blue {
        background-color: $blue;
        box-shadow: 0 7px 17px -10px rgba($blue, $alpha: .3) ;
        &:hover {
            background-color: darken($blue, 15%);
        }
    }
    &--rounded {
        border-radius: 5px;
    }
    &--sm {
        padding:0.66em 1.25em ;
     
    }



}