.header {
    display: flex;
    position: fixed;
    width: calc(100% - #{$sidebar-width});
    background-color: $primary;
    top: 0;
    left: 300px;
    z-index: $z-index-header;

    @include breakpoint ($tablet-bp) {
       width: 100%;
       margin: 0 auto;
       position: unset;
       overflow: hidden;
    }
    
  
   
}
.header_left {
    width: 60%;
    &:a {
        text-decoration: none;
        color: $white;
        position: relative;
    }
    
    
}
.header_right {
    display: flex;
    width: 40%;
    justify-content: flex-end;

    @include breakpoint ($tablet-bp) {
        width: 96%; 
     }
}

// burger
//
    