.header {
    display: flex;
    position: fixed;
    width: calc(100% - #{$sidebar-width});
    background-color: $primary;
    justify-content: space-between;
    top: 0;
    left: 300px;
    z-index: $z-index-header;

    @include breakpoint ($tablet-bp) {
       width: 100%;
       margin: 0 auto;
       position: unset;
       overflow: hidden;
    }

  
        &__avatar {
            display: block;
            max-width: 35px;
            max-height: 35px;
            border-radius: 50%;
            display: flex;
            padding-top: 3px;
            &:hover {
                cursor: pointer;
            }
    
        }
    

 

    @media(min-width:991px) {
        &__avatar {
            display: none;
            
    
        }
    

    }
   
  
  
   
}
.header_left {
    width: 60%;
    &:a {
        text-decoration: none;
        color: $white;
        position: relative;
    }
    
    
}
.header_right {
    display: flex;
    width: 40%;
    justify-content: flex-end;

    @include breakpoint ($tablet-bp) {
        width: 96%; 
        
     }
}

// burger
//
    