.post {
    box-shadow: 0 15px 25px rgba(black, .35);
    background-color: $primary;
    padding: 2.5rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    overflow: hidden;
   
}
.post_header {
    margin: 0 0 2.5rem;
    position: relative;
    &--preview{
        margin: -2.5rem  -2.5rem 2.5rem;
       
    }
}

.post_header--preview {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2.5rem auto;
    // border-radius: 5px;

}
.post_text {
    color: #d2d2d2;
    font-size: 14px;
    
    p {
        margin: 2rem 0;
    }

 
}
.post_data {
    display: flex;
    color: #828282;
    line-height: 1.2rem;
    margin: 1rem 0;
    a {
        color: inherit;
        text-decoration: none;
        padding-left: 1rem;
    }
   

}

.post_content {
    position: relative;
    margin-bottom: 2rem;
    border-bottom: 1px solid #1c1c1c;
}

.post_title {
    font-size:1.8rem ;
    color: white;
    font-weight: 500;
    margin-bottom: 1.5rem;
      a {
          color: inherit;
          text-decoration: none;
      }
      &:hover {
          text-decoration: underline;
      }
}
.post_data-item {
    time:hover {
        text-decoration: underline;
    }
    

    &:not(:last-child):after {
        position: relative;
        content: "";
        top: -2px;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #c4c4c4;
        margin: 0 1.5rem;
       

    }
}

.post_data-item_link:hover {
    text-decoration: underline;
  
}
.post_read {
    color: #107eff;
   font-size: 1.4rem;
   text-decoration: none;
   &:hover {
       text-decoration: underline;
   }
   
}


.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #828282;
    font-size: 12px;
   
}
// .video_post {
    
//     display: block;
//     margin: 2.5rem;
// }
// .play {

//     position: absolute;
//     left: 43%;
//     top: 38%;
    
// }
.post_actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: $white;
    
    a {
        text-decoration: none;
        color: inherit;
        padding: 1rem 0;
        opacity: .7;
        transition: opacity .2s linear;
       

        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
    

}

.post_actions-icon {
    margin-left: .5rem;
}