<!-- Post simple -->
<div class="post">
    <div class="post_content">
        <p class="post_text">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor voluptatum modi nostrum, repellendus fugiat quisquam ipsum quam ad at facere quod nobis? Aut quia dignissimos sequi quos ducimus temporibus molestias sunt beatae! Quia aperiam quod optio eaque quas exercitationem nemo perferendis numquam est recusandae, sapiente nisi totam repudiandae!
        </p>

    </div>
    <div class="post_footer">
        <ul class="post_data">
            <li class="post_data-item">
                <time datetime="2020-06-21 19.00">21.06.2020 </time>

            </li>

        </ul>
  

    </div>

</div>
<!-- /Post simple -->