.post {
    box-shadow: 0 15px 25px rgba(black, .35);
    background-color: $primary;
    padding: 2.5rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    overflow: hidden;
   
}
.post_header {
    margin: -2.5rem  -2.5rem 2.5rem;
}
.post_text {
    color: #d2d2d2;
    font-size: 14px;

 
}
.post_data {
    color: #828282;
    line-height: 1.2rem;

}
.post_content {
    margin-bottom: 2rem;
}

.post_footer {
    margin-top: 20px;
    color: #828282;
    font-size: 12px;
}