<header class="header">
    <div class="header_left">
        <nav class="nav">
            <ul class="nav_list">
                <li>
                    <a class="nav_link active" href="">Home</a>  
                </li>
                <li>
                    <a class="nav_link" target="_blank" href="../post.html">Blogs</a>  
                </li>
                <li>
                    <a class="nav_link" href="">About</a>
                </li>
                  <li>
                    <a class="nav_link" href="">Add</a> 
                </li>


            </ul>
           
        </nav>
       
        
        
       
        

    </div>
    <div class="header_right">
        <nav class="nav">
            <ul class="nav_list">
              <a class="nav_link" href="">Profile</a>  
            </ul>
        </nav>
        <form class="search" action="/" method="POST">
             <input class="search_input" data-focus-visible-added
             type="text" placeholder="Search on blog">

        </form>
        <div class="burger_container">
            <span class="burger"></span>
        </div>
       
    </div>


</header>
