<div class="modal--share hide">
    <div class="modal__content">

        <button class="modal__close modal__close--share" type="button"> <img src="assets/images/close.svg" alt=""></button>
<div class="social__wrapper">
    <ul class="social">
        <li class="social_item">
            <a class="social_link" target="_blank" href="#">
                <img src="../assets/images/modal/facebook.svg" alt="Roman Burlaka instagram">
            </a>
        </li>
        <li class="social_item">
          <a class="social_link" target="_blank" href="#">
              <img src="../assets/images/modal/twitter.svg" alt="vk">
          </a>
      </li>
      <li class="social_item">
          <a class="social_link" target="_blank" href="#">
              <img src="../assets/images/modal/vk.svg" alt="pinterest">
          </a>
      </li>
      <li class="social_item">
        <a class="social_link" target="_blank" href="#">
            <img src="../assets/images/modal/document.svg" alt="pinterest">
        </a>
    </li>
    </ul>
</div>

    </div>

</div>