<aside class="sidebar">
  <div class="sidebar_header">
      <img src="assets/images/sidebar_header.jpg" alt="">
  </div>
  <div class="sidebar_content">
      <div class="profile">
          <img class="profile_avatar" src="assets/images/meAvatar100.png" alt="avatar">
          
          <div class="profile_name">Roman Burlaka</div> 
          <div class="profile_prof">Web Developer</div>
          <ul class="social">
              <li class="social_item">
                  <a class="social_link" target="_blank" href="#">
                      <img src="../assets/images/social/instagram.svg" alt="Roman Burlaka instagram">
                  </a>
              </li>
              <li class="social_item">
                <a class="social_link" target="_blank" href="#">
                    <img src="../assets/images/social/vk.svg" alt="vk">
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" target="_blank" href="#">
                    <img src="../assets/images/social/pinterest.svg" alt="pinterest">
                </a>
            </li>
          </ul>
          <div class="profile_text">
              <p>Front-end developer. Making website since 2020 year.</p>

          </div>

      </div>

  </div>
  <div class="sidebar_footer">
      <a class="" target=""  href="../works.html"><button  class="btn btn--red" type="button">My works</button></a>
      <button  class="btn btn--blue" type="button" id="send-mail">Send me</button>

  </div>

</aside>  
